* {box-sizing: border-box}

/* Set height of body and the document to 100% */   
body, html {
  height: 100%;
  margin: 0;
  font-family: Century Gothic, sans-serif;
}

/* Style tab links */
.tablink {
  background-color: #513820;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #462a18;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  min-height: calc(100vh - 90px);
  padding-bottom: 60px;
}

/* Style the footer */
footer {
  background-color: #513820;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 14px;
}

#Home,
#News,
#Contact,
#About {
  background-color: hsl(36, 71%, 83%);
}